<a href="https://colab.research.google.com/github/FrancLis/Multivariate-Time-Series-Forecasting/blob/main/Copia_di_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install fast_ml

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import tensorflow as tf
from fast_ml.model_development import train_valid_test_split
from tensorflow import keras
from sklearn.preprocessing import MinMaxScaler, PowerTransformer, StandardScaler
from sklearn.metrics import mean_squared_error, r2_score, max_error, mean_absolute_error
from keras.layers import Input
from keras.models import Sequential
from keras.layers import Dense, RepeatVector
from tensorflow.keras import Sequential, layers, callbacks
from tensorflow.keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional, SimpleRNN, Conv1D, MaxPooling1D, Flatten

In [3]:
# Set random seed for reproducibility
tf.random.set_seed(42)
np.random.seed(42)

**DATA ACQUISITION**

In [21]:
# Read Csv
file = r"/content/PG (2).csv"
df = pd.read_csv(file, parse_dates=['Date'], index_col='Date')
plt.style.use('seaborn')

In [20]:
df.head(5)

                 Open       High        Low      Close  Adj Close   Volume
Date
2017-01-30  86.779999  86.860001  86.500000  86.750000  75.423943  7350000
2017-01-31  86.629997  87.660004  86.529999  87.599998  76.162964  9712400
2017-02-01  87.029999  87.589996  86.750000  87.330002  75.928207  8291000
2017-02-02  87.610001  88.349998  87.250000  87.760002  76.302078  8997200
2017-02-03  88.120003  88.169998  87.389999  87.410004  75.997780  7161900

Dataframe info

In [18]:
df.describe()

              Open         High  ...    Adj Close        Volume
count  1260.000000  1260.000000  ...  1260.000000  1.260000e+03
mean    111.035643   111.911103  ...   104.743703  8.023886e+06
std      23.681813    23.927348  ...    26.246151  3.528971e+06
min      70.809998    71.720001  ...    64.176865  2.022100e+06
25%      89.847497    90.339996  ...    79.097185  5.917125e+06
50%     113.009998   114.279999  ...   106.779633  7.102300e+06
75%     133.237496   134.230004  ...   130.543422  9.086075e+06
max     164.399994   165.350006  ...   163.328140  3.701010e+07

[8 rows x 6 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1260 entries, 2017-01-30 to 2022-01-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1260 non-null   float64
 1   High       1260 non-null   float64
 2   Low        1260 non-null   float64
 3   Close      1260 non-null   float64
 4   Adj Close  1260 non-null   float64
 5   Volume     1260 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 68.9 KB